$colors: (
  primary: (
    100: hsl(180, 100%, 88%),
    200: hsl(180, 100%, 80%),
    300: hsl(180, 100%, 71%),
    400: hsl(180, 86%, 60%),
    500: hsl(180, 66%, 49%),
    600: hsl(180, 75%, 39%),
    700: hsl(180, 84%, 30%),
    800: hsl(180, 94%, 21%),
    900: hsl(180, 100%, 14%),
  ),
  secondary: (
    100: hsl(0, 100%, 90%),
    200: hsl(0, 100%, 84%),
    300: hsl(0, 98%, 76%),
    400: hsl(0, 87%, 67%),
    500: hsl(0, 60%, 56%),
    600: hsl(0, 52%, 45%),
    700: hsl(0, 56%, 36%),
    800: hsl(0, 61%, 26%),
    900: hsl(0, 66%, 17%),
  ),
  accent: (
    100: hsl(257, 100%, 96%),
    200: hsl(258, 100%, 93%),
    300: hsl(258, 100%, 90%),
    400: hsl(258, 53%, 79%),
    500: hsl(258, 35%, 68%),
    600: hsl(259, 24%, 56%),
    700: hsl(258, 21%, 46%),
    800: hsl(258, 24%, 36%),
    900: hsl(258, 27%, 26%),
  ),
  neutral: (
    100: hsl(0, 0%, 100%),
    200: hsl(255, 19%, 90%),
    300: hsl(254, 13%, 78%),
    400: hsl(257, 10%, 65%),
    500: hsl(256, 9%, 56%),
    600: hsl(253, 7%, 47%),
    700: hsl(258, 9%, 39%),
    800: hsl(256, 10%, 30%),
    900: hsl(255, 11%, 22%),
  ),
);
